includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
	level: max
	tmpDir: ./.phpstan.cache
	paths:
		- src
		- tests

